$mainFont: 'PT Sans', sans-serif;
$lightBg: #fff;
$mainColor: black;

body{
    background-color: $lightBg;
    font-family: 'PT Sans', sans-serif;
}
header,
.main-bg{
    background-color: #fcdb00;
}
.text-main-color{
    color:  #fcdb00;
}
.fingerPrint{
    display: flex;
    align-items: center;
}

.fingerPrintText{
    font-family: $mainFont;
    font-size: 30px;
    line-height: 20px;
    font-weight: bold;
}
.navbar_style {
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .nav_btn{
      border: 1px solid #888 !important;
  }
ul{
    padding-bottom: 0;
}
li{
    padding: 0 15px;
}
 
.nav-item{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 15px;
    color: $mainColor !important;
    transition: .3s;
}
.nav-item:hover{
     color: #434343 !important;
}

form{
    margin-bottom: 50px;
}
// .mp{
//     margin-left: -15px !important;
//     margin-right: -15px !important;
// }

h2{
    font-size: 32px;

    font-weight: bold;
    line-height: 18px;

}
.h1{
    font-size: 32px;
    font-weight: bold;

}
.h2{
    padding: 40px 0 30px 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: regular;

}

.istract{
    margin: 30px 0 60px 0;
}
.grid{
    margin: 45px 0 70px 0;
}

.light-bg{
    background-color: $lightBg;
}
.tiny_item{
    font-size: 20px;
    line-height: 24px;
    font-weight: regular;
    margin-top: 20px;
    margin: 20px 15px 50px 15px ;
}
.tiny_header{
    margin-top: 80px;
}


.icon_wrap{
    padding: 40px 0 20px 0;
}
.dark-bg{
    background-color: $mainColor;
}

.app_Text{

}
.yellow {
    color:yellow;
    margin-bottom: 10px;
}
.icon_wrap{
    margin-left: 5px;
}
.iPad{
    
    width: 280px;
   
    height: 370px;
    
    border-radius: 8px;
    background-color: #fff;
    position: relative;
}
.screen{
    position: absolute;
    width: 260px;
    height: 310px;
    margin: 30px 10px;
    
    background-color: $mainColor;
}

.featuresItem{
    padding: 0 0 0 35px;
     h3{
        padding: 5px 0 20px 0;
        margin: 0;
        font-size: 22px;
        line-height: 26px;
     }
     p{
        font-size: 16px;
        line-height: 20px;
        color: #898989
     }
}
footer{
    padding-bottom: 50px;
}
.address{
    margin: 0;
    padding: 0;
}

@media (max-width: 340px){
    .screen{
        width: 92%;
    }
}




@media (min-width: 768px) { 
    .nav-item{
        font-size: 24px;
         
        padding: 0 28px;
    }
    .iPad{
       width: 320px !important;
       height: 470px;
       
    }
    .screen{
       
        width: 290px;
        height: 380px;
        margin: 45px 15px;
         
    }
    .istract{
        margin: 30px 0 90px 0;
    }
    .tiny_item{
        margin:20px 75px 50px 75px ;
    }
    .tiny_header{
        margin-top: 115px;
    }
    .grid{
        margin: 75px 0 140px 0;
    }
    footer{
        padding-bottom: 50px;
    }
 }
 @media (min-width: 992px) { 
    .nav-item{
        font-size: 30px;
          
    }
    .istract{
        margin: 30px 0 105px 0;
    }
    .grid{
        margin: 85px 0 170px 0;
    }
     
 }